<style>
    .page-footer {
        width: 100%;
        background-color: #2E2E2E;
        left: 0;
        right: 0;
        line-height: 15px;
        position: fixed;
        bottom: 0;
    }

    .text-title {
        color: white;
        margin-bottom: 25px;
    }

    .text-uppercase, h3 {
        color: white;
        font-family: 'Times New Roman';
        font-weight: 400;
        font-size: larger;
    }

    .footer-copyright {
        background-color: #212121;
        color: white;
        height: 50px;
        width: 100%;
    }

    p, a {
        color: white;
    }

    .input-group {
        margin-bottom: 10px;
    }

    .btn-light {
        border-width: 2px;
        border: solid;
        border-color: white;
        background-color: #2E2E2E;
        color: white;
    }
</style>
<footer class="page-footer font-small purple pt-4 fixed-bottom">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">



            </div>

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase">Website Content</h5>
                <p>Modeller.</p>
                <p>Färgpaletter.</p>
                <p>Om oss.</p>
                <p>Kontakt.</p>
                <p>GDPR</p>

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">


            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Kontakt</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">email@email.com</a>
                    </li>


                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <div class="col-sm-12">
                    <div class="content">
                        <form>
                            <h3>Nyhetsbrev</h3>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter your email">

                            </div>
                            <button type="button" class="btn btn-light">SKICKA</button>
                        </form>
                    </div>
                </div>


            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> WEBSITE NAME</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
