@model WebsiteFlygplan.Models.ImageModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dd>
           <img src="@Url.Content("~/Images/" + Model.ImagePath)"  height="250" width="250"/>
        </dd>

    </dl>
</div>

